<div class="flex items-center gap-2 p-3">
    <!-- Icon -->
    <img
        ngSrc="/icon_square.png"
        width="623"
        height="594"
        alt="Logo"
        class="h-14 w-14"
    />

    <!-- Text -->
    <div class="grid [&>*]:col-start-1 [&>*]:row-start-1 [&>*]:leading-5">
        <span
            class="bg-gradient-colorful text pointer-events-none bg-clip-text text-2xl font-bold text-transparent blur-md"
        >
            MATCHA
        </span>
        <span
            class="pointer-events-none bg-zinc-500 bg-clip-text text-2xl font-bold text-transparent opacity-20 blur-sm"
        >
            MATCHA
        </span>
        <span
            class="bg-gradient-colorful bg-clip-text text-2xl font-bold text-transparent"
        >
            MATCHA
        </span>
    </div>
</div>

<style>
    .bg-gradient-colorful {
        background-image: linear-gradient(
            90deg,
            #19d1e5,
            #1dd7b6,
            #1192f0,
            #07d1ff
        );
    }
</style>
