<app-auth-layout>
    <ng-container auth-layout-top>
        <span class="flex items-baseline gap-1">
            <span class="text-outline hidden medium:inline">
                Don't have an account?
            </span>
            <a mat-button routerLink="/register">Sign up</a>
        </span>
    </ng-container>

    <div class="grid medium:min-w-72 large:min-w-80 xlarge:min-w-96">
        <h1>Sign in</h1>

        <p>Sign in with username</p>

        @if (invalidCredentials()) {
            <div
                class="bg-error mb-2 flex items-center gap-2 rounded border p-2"
            >
                <mat-icon>error</mat-icon>
                Invalid credentials
            </div>
        }
        <form class="grid gap-2" [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input
                    id="username"
                    matInput
                    [formControl]="loginForm.controls.username"
                    placeholder="Username"
                />
                @if (!loginForm.controls.username.value) {
                    <mat-hint>Enter your username</mat-hint>
                }
                <mat-error>Username is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <mat-icon matPrefix>password</mat-icon>
                <input
                    id="password"
                    matInput
                    [formControl]="loginForm.controls.password"
                    [type]="isPasswordHidden() ? 'password' : 'text'"
                    placeholder="Password"
                />
                <button
                    matSuffix
                    mat-icon-button
                    class="mr-1"
                    type="button"
                    (click)="isPasswordHiddenToggle($event)"
                    [matTooltip]="
                        isPasswordHidden() ? 'Show password' : 'Hide password'
                    "
                    [disabled]="isSubmitting()"
                >
                    <mat-icon>
                        @if (isPasswordHidden()) {
                            visibility_off
                        } @else {
                            visibility
                        }
                    </mat-icon>
                </button>

                @if (!loginForm.controls.password.value) {
                    <mat-hint>Enter your password</mat-hint>
                }
                <mat-error>Password is required</mat-error>
            </mat-form-field>

            <button
                mat-flat-button
                class="btn-primary mt-2"
                matTooltip="Sign in"
                [disabled]="isSubmitting()"
            >
                @if (isSubmitting()) {
                    <mat-spinner diameter="20"></mat-spinner>
                } @else {
                    Meet new people
                }
            </button>
        </form>
    </div>
</app-auth-layout>
