<app-auth-layout>
    <ng-container auth-layout-top>
        <span class="flex items-baseline gap-1">
            <span class="text-outline hidden medium:inline">
                Got an account?
            </span>
            <a mat-button routerLink="/login">Sign in</a>
        </span>
    </ng-container>

    <div class="grid medium:min-w-80 large:min-w-96 xlarge:min-w-[32rem]">
        <h1>Sign up</h1>

        <p>Rapidly sign up with a few steps</p>

        <form [formGroup]="registerForm">
            <mat-stepper orientation="vertical">
                <!-- Step 1 -->
                <mat-step [stepControl]="registerForm.controls.loginInfoStep">
                    <ng-template matStepLabel
                        >Fill out your login information
                    </ng-template>

                    <div class="grid pt-2">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="
                                    registerForm.controls.loginInfoStep.controls
                                        .email
                                "
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="
                                    registerForm.controls.loginInfoStep.controls
                                        .username
                                "
                            />
                        </mat-form-field>
                    </div>

                    <div>
                        <button type="button" mat-button matStepperNext>
                            Next
                        </button>
                    </div>
                </mat-step>

                <!-- Step 2 -->
                <mat-step
                    [stepControl]="registerForm.controls.personalInfoStep"
                >
                    <ng-template matStepLabel
                        >Fill out your personal information
                    </ng-template>

                    <div class="grid pt-2">
                        <mat-form-field>
                            <mat-label>First name</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="
                                    registerForm.controls.personalInfoStep
                                        .controls.firstName
                                "
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Last name</mat-label>
                            <input
                                matInput
                                type="text"
                                [formControl]="
                                    registerForm.controls.personalInfoStep
                                        .controls.lastName
                                "
                            />
                        </mat-form-field>
                    </div>

                    <div>
                        <button type="button" mat-button matStepperPrevious>
                            Back
                        </button>
                        <button type="button" mat-button matStepperNext>
                            Next
                        </button>
                    </div>
                </mat-step>

                <!-- Step 3 -->
                <mat-step [stepControl]="registerForm.controls.passwordStep">
                    <ng-template matStepLabel>Create a password</ng-template>

                    <div class="grid pt-2">
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input
                                matInput
                                type="password"
                                [formControl]="
                                    registerForm.controls.passwordStep.controls
                                        .password
                                "
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Confirm password</mat-label>
                            <input
                                matInput
                                type="password"
                                [formControl]="
                                    registerForm.controls.passwordStep.controls
                                        .confirmPassword
                                "
                            />
                        </mat-form-field>
                    </div>

                    <div>
                        <button type="button" mat-button matStepperPrevious>
                            Back
                        </button>
                        <button
                            type="submit"
                            mat-button
                            [disabled]="registerForm.invalid"
                        >
                            Sign up
                        </button>
                    </div>
                </mat-step>
            </mat-stepper>
        </form>
    </div>
</app-auth-layout>
