<main [ngClass]="['grid h-screen w-screen grid-flow-col gap-6 p-4 medium:p-6']">
    <!-- Left panel (visible on web landscape screens) -->
    <div class="web-landscape:block hidden overflow-hidden">
        <div class="rounded-xlarge bg-surface-container h-full w-11/12">
            <app-logo />
        </div>
    </div>

    <!-- Right panel (main content) -->
    <div class="grid grid-rows-[auto_1fr]">
        <!-- Top bar -->
        <div class="flex items-center">
            <app-logo class="web-landscape:hidden" />
            <div class="flex grow items-baseline justify-end">
                <ng-content select="[auth-layout-top]" />
            </div>
        </div>

        <!-- Main content -->
        <div class="grid place-content-center">
            <ng-content />
        </div>
    </div>
</main>
