/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$light-theme: mat.define-theme((
        color: (
                theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
                use-system-variables: true,
        ),
        density: (
                scale: 0,
        ),
        typography: (
                use-system-variables: true,
        )
));

$dark-theme: mat.define-theme((
        color: (
                theme-type: dark,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
                use-system-variables: true,
        ),
));

@include mat.core();

:root {
  @include mat.all-component-themes($light-theme);
  @include mat.color-variants-backwards-compatibility($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);
    @include mat.color-variants-backwards-compatibility($dark-theme);
    @include mat.system-level-colors($dark-theme);
  }
}

@include mat.typography-hierarchy($light-theme);
@media (prefers-color-scheme: dark) {
  @include mat.typography-hierarchy($dark-theme);
}

.mdc-notched-outline__notch {
  border-right: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.btn-primary {
  @include mat.button-color($light-theme, $color-variant: primary);
  @media (prefers-color-scheme: dark) {
    @include mat.button-color($dark-theme, $color-variant: primary);
  }
}

.btn-secondary {
  @include mat.button-color($light-theme, $color-variant: secondary);
  @media (prefers-color-scheme: dark) {
    @include mat.button-color($dark-theme, $color-variant: secondary);
  }
}

.btn-tertiary {
  @include mat.button-color($light-theme, $color-variant: tertiary);
  @media (prefers-color-scheme: dark) {
    @include mat.button-color($dark-theme, $color-variant: tertiary);
  }
}
